@import 'variables';

/** Begin nav menu styling **/

.nav-menu {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1.5fr;
  grid-template-rows: 0.5fr 0.5fr;
  gap: 0em 0.5em;
  grid-template-areas:
    "site-title . nav-links"
    "site-subtitle . .";
}

.current {
  color: $secondary-brand-color;
}

.site-title {
  font-family: $font-headings, serif;
  font-size: 1.5em;
  color: $primary-brand-color;
  text-transform: uppercase;
}

.site-title a {
  text-decoration: none !important;
  color: $primary-brand-color;
}

.site-subtitle {
  font-family: $font-body, sans-serif;
  font-size: 0.75em;
  margin-left: 10px;
  align-self: center;
  justify-self: start;
  font-style: italic;
}

.nav-links {
  display: inline;
  justify-self: end;
  align-self: center;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;

  a {
    margin-left: 15px;
    text-decoration: none;

    &:hover {
      text-decoration: underline !important;
    }
  }
}

/** Begin hamburger menu build **/
#toggle {
  display: none;
}

/** Hamburger icon **/
.hamburger {
  position: absolute;
  top: 5em;
  right: 5%;
  margin-left: -2em;
  margin-top: -30px;
  width: 1.5em;
  height: 30px;
  z-index: 5;
}

.hamburger div {
  position: relative;
  width: 2em;
  height: 5px;
  border-radius: 2px;
  background-color: black;
  margin-top: 5px;
  transition: all 0.3s ease-in-out;
}

/** Nav Styles **/
.nav {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: white;
  top: 0;
  right: -300px;
  bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
}
.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
}
nav {
  text-align: left;
  margin-left: 10%;
  padding-top: 80px;
}
nav a {
  position: relative;
  text-decoration: none;
  color: black;
  display: inline-block;
  margin-top: 1.25em;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
}
nav a:before {
  content: '';
  height: 0;
  position: absolute;
  width: 0.25em;
  background-color: black;
  left: -0.5em;
  transition: all 0.2s ease-in-out;
}
nav a:hover {
  text-decoration: underline;
}
nav a:hover:before {
  height: 100%;
}

/** Animations **/
#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 17px;
}
#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -5px;
}
#toggle:checked + .hamburger + .nav {
  right: 0;
}

// End nav menu styling

// Begin Google Font CSS classes
.kranky-regular {
  font-family: "Kranky", serif;
  font-weight: 400;
  font-style: normal;
}

.mclaren-regular {
  font-family: "McLaren", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// End Google Font CSS classes

// Begin basic font stylings across the site

html, body {
  background-color: $site-background-color;

  h1, h2, h3, h4, h5, h6 {
  font-family: $font-headings;
}

p, div {
  font-family: $font-body;
  font-size: $font-base-size;

  a {
    text-decoration: underline;
    color: #000000;
  }

}

}

// End basic font stylings across the site

// Begin basic visual and layout styling across the site

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 1em;
}

.section-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}

.button {
  background-color: $primary-brand-color;
  color: $accent-color !important;
  padding: 10px 15px;
  text-decoration: none !important;
  text-transform: uppercase;
  width: fit-content;
  margin: 1em 0em 1em 0em;
  

  &:hover {
    background-color: darken($primary-brand-color, 10%);
    color: $accent-color !important;
  }
}

.why-a-supper-club {
  background-color: $accent-color;
  padding: 1em 2em 1em 2em;
}

.how-it-works {
  background-color: $site-background-color;
  padding: 1em 2em 1em 2em;
}

.calendar {
  background-color: $accent-color;
  padding: 1em 2em 1em 2em;
}

// End basic visual and layout styling across the site